<div class="container">
    <a href="/rooms">Back to all rooms</a>
    

    <!-- <div>
    <%= button_to "Ask a question", 
        :controller => "questions", :action => "new", 
        :room_id => @room.id %>
    </div> -->

    <h1><%= @room.name %></h1>
    <h3><%= @room.description %></h3>
    <br>

    <%= form_for @question, html: { autocomplete: 'off' } do |q| %>
        <div><%= q.text_field :body, :placeholder => "Have a question? Ask here!", :class => "text-field" %></div>
        <%= q.hidden_field :room_id %>
        <%= q.submit "Ask Question", :class => "submit-btn"%>
    <% end %>
    <div class="list-container">
        <hr class="ask-hr">
        <% @room.questions.each do |q| %>
            <div class="question">
                <div class="score">
                    <%= link_to '+ ' + q.score.to_s, :controller => "questions", :action => "upvote", :question_id => q.id, method: :post %>
                </div>
                    <%= q.body %>
            </div>
            <hr>
        <% end %>
    </div>
    <%=  link_to "Delete", room_path(@room), method: :delete %>

</div>