<div class="container">
    <span id="room-name"><%=  @room.name %></span>
    <br>
    <span id="room-description"><%=  @room.description %></span>
    <br>
    <div id="room-button"><%= button_to("Ask a question", :controller => "questions", :action => "new", :id => @room.id) %></div>

    <div class="list-container">
        <% @room.questions.each do |q| %>
            <div class="room row">
                <p><%= q.body %></p>
            </div>
            <hr>
        <% end %>
    </div>
    <%=  link_to "Delete", room_path(@room), method: :delete %>
</div>